<div class="stepper-item">
    <div class="step-indicator pending">
    </div>
    <div class="step-content">
        <div class="step-title">@title</div>
        <div class="step-subtitle">@subTitle</div>
    </div>
    @if(!title.Contains("Step 5"))
    {
        <div class="step-line"></div>
    }
</div>

@code {
    [Parameter]
    public string title { get; set; } = string.Empty;

    [Parameter]
    public string subTitle { get; set; } = string.Empty;
}